name: rust-g
on:
  push:
    branches:
    - current-bee
  pull_request:
    branches:
    - current-bee
jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: i686-pc-windows-msvc
      - name: Build (all features)
        uses: actions-rs/cargo@v1
        with:
          toolchain: stable
          command: build
          args: --target i686-pc-windows-msvc --release --all-features
      - name: Upload artifact (all features)
        uses: actions/upload-artifact@v1
        with:
          name: full_rust_g.dll
          path: target/i686-pc-windows-msvc/release/rust_g.dll
      - name: Build (release)
        uses: actions-rs/cargo@v1
        with:
          toolchain: stable
          command: build
          args: --target i686-pc-windows-msvc --release
      - name: Upload artifact (release)
        uses: actions/upload-artifact@v1
        with:
          name: rust_g.dll
          path: target/i686-pc-windows-msvc/release/rust_g.dll
  build-linux:
    runs-on: ubuntu-20.04
    env:
      BYOND_MAJOR: 513
      BYOND_MINOR: 1521
      PKG_CONFIG_ALLOW_CROSS: 1
    steps:
      - uses: actions/checkout@v1
      - run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install g++-multilib zlib1g-dev:i386 pkg-config libssl-dev:i386 libssl-dev libssl1.1:i386
          ./scripts/install_byond.sh
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: i686-unknown-linux-gnu      
      - name: Build (Debug)
        uses: actions-rs/cargo@v1
        with:
          toolchain: stable
          command: build
          args: --target i686-unknown-linux-gnu
      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          toolchain: stable
          command: test
          args: --target i686-unknown-linux-gnu
        env:
          BYOND_BIN: /home/runner/BYOND/byond/bin
      - name: Build (all features)
        uses: actions-rs/cargo@v1
        with:
          toolchain: stable
          command: build
          args: --target i686-unknown-linux-gnu --release --all-features
      - name: Upload artifact (all features)
        uses: actions/upload-artifact@v1
        with:
          name: full_librust_g.so
          path: target/i686-unknown-linux-gnu/release/librust_g.so
      - name: Build (release)
        uses: actions-rs/cargo@v1
        with:
          toolchain: stable
          command: build
          args: --target i686-unknown-linux-gnu --release
      - name: Upload artifact (release)
        uses: actions/upload-artifact@v1
        with:
          name: librust_g.so
          path: target/i686-unknown-linux-gnu/release/librust_g.so
